/*Определяем шрифты*/
* {
    font-family: Gill Sans, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c5f5e8;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1%;
    margin: 0;
    min-height:15%;
    background-color: cadetblue;
    border-bottom-color: gold;
    border-bottom-width: 10px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;

}

/*Задаю расположение дочерних блоков шапки в линию*/
header .logo, .nav {
    display: inline-block;
    white-space: nowrap;
}

.logo {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
}

/*оформление кнопок шапки*/
.button {
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
    background-color: gold;
    border-color: #c5f5e8;
    border-width: 2px;
    border-style: solid;
}
/*Убрал подчеркивание ссылок в шапке*/
.header_url {
    text-decoration: none;
}

/*Расположение кнопок навигации в линию*/
.nav li {
    display: inline-block;
    font-size: 30px;
}

/*Цвет ссылок*/
.nav a {
    color: #635f5f;
}

/*Блок навигации*/
.nav {
    width: 50%;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    float: left;
}


main {
    position: relative;
    top: 150px;

}

.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
    position:inherit
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/*Оформления блока сетки на главной*/
.col-1-2 {
    position:inherit;
    width: 40%;
    float: left;
    background-color: aliceblue;
    min-height: 330px;
    border-width: 5px;
    border-style: solid;
    border-color: cadetblue;
    margin: 10px;
    padding: 20px;

}

/*Оформления блока сетки "О нас"*/
.col-1-1 {
    position:inherit;
    width: 60%;
    float: left;
    left: 15%;
    background-color: aliceblue;
    min-height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: cadetblue;
    margin: 10px;
    padding: 20px;
}

/*Оформление блока сетки "Контакты"*/
.col-1-0 {
    position:inherit;
    width: 60%;
    float: left;
    left: 15%;
    background-color: aliceblue;
    min-height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: cadetblue;
    margin: 10px;
    padding: 20px;
}

/*С футером испытал много сложностей, а конкретно с его расположением*/
/*Так и не смог его правильно расположить, так что пока ограничился костылем, с жесткой фиксацией на пикселях*/
footer {
    background-color: cadetblue;
    width: 100%;
    max-height: 10%;
    position: relative;
    left: 0;
    bottom: 0;
    top: 1000px;
    padding: 10px;
}

.footer_text {
    text-align: left;
    padding: 15px;
}

.footer_text a {
    color: #635f5f;
}

.myphoto {
    padding: 5px
}

hr {
    color: cadetblue;
    border-color: cadetblue;
}
/*Выравнить фото на главной по центру*/
.align_img {
    text-align: center;
}

.tel {
    font-size: 20px;
    text-align: center;
}

.adress {
    text-align: center;
}

